.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    padding: 20px;
    color: white;
    border: solid grey 5px;


}

.head {
    width: 60vw;
    background-color: green;
    color: white;
    text-align: start;
    justify-content: center;
}

.head h1 {
    font-size: 80px;
    font-weight: bold;
}

.head button {
    height: 50px;
    border-radius: 10px;
    background-color: gold;
    font-weight: bolder;
    font-size: 20px;

}

.head h3 {
    margin-top: 5px;
    font-weight: medium;
}

.head p {
    margin-top: 70px;
}

.right {
    width: 40vw;
}

.right img {
    width: 40vw;
    height: 100vh;
}

.top {
    display: flex;
    height: 40vh;
    flex-direction: column;
    color: white;


}

/* .page2 {
    display: flex;
    flex-direction: row;
    background-color: aquamarine; */



.top h1 {
    font-size: 30px;
    padding-left: 50px;
}

.top p {
    display: flex;
    flex-direction: row;
    padding-left: 500px;
    padding-bottom: 0px;

}

.top {
    display: flex;
    flex-direction: column;
}

.top img {
    width: 60vw;
    height: 60vh;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 15px;

}


.page2 {
    background-color: rgb(28, 138, 102);


}

/* .bottom {
    padding-left: 70px;
}

.bottom img {
    width: 80vw;
    height: 40vh;
    margin-bottom: 20px;

} */

.page3 {
    background-color: gold;
    display: flex;
    flex-direction: row;
    height: 250px;
    justify-content: space-around;
    color: black;
}

.container h1 {
    color: black;
}

.page3 img {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 250px;

}

.heading {
    padding-top: 40px;
    width: 60vw;
}

.fourth {
    width: 60vw;
    background-color: rgb(32, 127, 127);
    color: white;
    text-align: start;
    justify-content: center;
}

.page4 {
    display: flex;
    flex-direction: row-reverse;
}

.fourth h1 {
    padding: 200px;
    padding-top: 70px;
}

.fourth p {
    padding-left: 200px;
}

.box images {
    height: 20px;
    width: 2px;

}

.box {
    background-color: gold;
    display: flex;
    flex-direction: row;
    width: 20px;
}